pandas
numpy
scikit-learn
imblearn
openpyxl
psycopg2
catboost
xgboost
lightgbm
missingno
summarytools
geopy
category_encoders
optuna
plotly
matplotlib
seaborn
jinja2
nbformat
scikit-plot
tensorflow==2.9.1
tensorboard
streamlit
scikeras
keras
kneed
mlflow<3
dvc
nltk
spacy
gensim
tqdm
scipy==1.12.0
bs4
lxml
h5py